<%= form_for(@firearm, :html => { :multipart => true }) do |f| %>

    <%= f.label :model %>
    <%= f.text_field :model, :required => true %>

    <%= f.label :calibre %>
    <%= f.select :calibre, options_for_select(["7.62x51mm", "5.56x45mm", "9x19mm", "5.45x39mm"], selected: @firearm.calibre), :include_blank => true %>
    <p class="note">NOTE: Selecting a calibre will associate all compatible ammo upon creation</p>

    <%= f.label :manufacturer_id %>
    <%= f.select :manufacturer_id, Manufacturer.pluck(:name, :id), :include_blank => true %>

    <%= f.label :family %>
    <%= f.text_field :family %>
    
    <%= f.label :fire_rate %>
    <%= f.number_field :fire_rate %>

    <%= f.label :effective_distance %>
    <%= f.number_field :effective_distance %>

    <%= f.label :quantity %>
    <%= f.number_field :quantity %>

    <%= f.label :image %>
    <%= f.cl_image_upload :image %>

    <%= f.submit :class => 'btn btn-success' %>

<% end %>