<%= form_for(@firearm, :html => { :multipart => true }) do |f| %>

    <%= f.label :model %>
    <%= f.text_field :model, :required => true %>

    <%= f.label :calibre %>
    <%= f.select :calibre, options_for_select(["7.62x51mm NATO", "5.56x45mm NATO", "9x19mm Parabellum", "5.45x39mm"]), :include_blank => true %>

    <%= f.label :manufacturer_id %>
    <%= f.select :manufacturer_id, Manufacturer.pluck(:name, :id), :include_blank => true %>

    <%= f.label :family %>
    <%= f.text_field :family %>
    
    <%= f.label :fire_rate %>
    <%= f.text_field :fire_rate %>

    <%= f.label :effective_distance %>
    <%= f.text_field :effective_distance %>

    <%= f.label :quantity %>
    <%= f.text_field :quantity %>

    <%= f.label :image %>
    <%= f.cl_image_upload :image %>

    <%= f.submit %>

    <p>NOTE: Selecting a calibre will associate all compatible ammo upon creation</p>

<% end %>