<h1>All firearms</h1>

<div class="controls">
    <%= link_to "New firearm", new_firearm_path if @current_user.present? %>
</div>

<% @firearms.each do |firearm| %>
    <div class="listing">
        <%= link_to firearm.model, firearm %>
        <ul>
            <li>Calibre: <%= firearm.calibre %></li>
            <li>Manufacturer: <%= link_to firearm.manufacturer.name, firearm.manufacturer if firearm.manufacturer.present? %></li>
            <li>Family: <%= firearm.family %></li>
            <li>Fire Rate: <%= firearm.fire_rate %> <%= "RPM" if firearm.fire_rate.present? %></li>
            <li>Effective Distance: <%= firearm.effective_distance %> <%= "m" if firearm.effective_distance.present? %></li>
            <li>Quantity: <%= firearm.quantity %></li>
        </ul>
    </div>
<% end %>

<% if @firearms.empty? %>
    <p>You currently have no firearms under your account. Add some and you will see them here.</p>
<% end %>