<h1>All firearms</h1>

<% @firearms.each do |firearm| %>
    <ul>
        <li>Model: <%= link_to firearm.model, firearm %></li>
        <li>Calibre: <%= firearm.calibre %></li>
        <li>Manufacturer: <%= link_to firearm.manufacturer.name, firearm.manufacturer if firearm.manufacturer.present? %></li>
        <li>Family: <%= firearm.family %></li>
        <li>Fire Rate: <%= firearm.fire_rate %></li>
        <li>Effective Distance: <%= firearm.effective_distance %></li>
        <li>Quantity: <%= firearm.quantity %></li>
    </ul>
<% end %>

<% if @firearms.empty? %>
    <p>You currently have no firearms under your account. Add some and you will see them here.</p>
<% end %>