<h1>All ammo</h1>

<div class="controls">
    <%= link_to "New ammo", new_ammo_path %>
</div>

<% @ammos.each do |ammo| %>

    <div class="listing">
        <%= link_to ammo.name, ammo %>
        <ul>
            <li>Calibre: <%= ammo.calibre %></li>
            <li>Manufacturer: <%= link_to ammo.manufacturer.name, ammo.manufacturer if ammo.manufacturer.present? %></li>
            <li>Bullet Velocity: <%= ammo.bullet_velocity %> <%= "m/s" if ammo.bullet_velocity.present? %></li>
            <li>Fragmentation Chance: <%= ammo.fragmentation_chance %><%= "%" if ammo.fragmentation_chance.present? %></li>
            <li>Ricochet Chance: <%= ammo.ricochet_chance %><%= "%" if ammo.ricochet_chance.present? %></li>
            <li>Quantity: <%= ammo.quantity %></li>
        </ul>
    </div>
<% end %>

<% if @ammos.empty? %>
    <p>You currently have no ammo under your account. Add some and you will see them here.</p>
<% end %>