<h1>All ammo</h1>

<% @ammos.each do |ammo| %>
    <ul>
        <li>Name: <%= link_to ammo.name, ammo %></li>
        <li>Calibre: <%= ammo.calibre %></li>
        <li>Manufacturer: <%= link_to ammo.manufacturer.name, ammo.manufacturer if ammo.manufacturer.present? %></li>
        <li>Bullet Velocity: <%= ammo.bullet_velocity %></li>
        <li>Fragmentation Chance: <%= ammo.fragmentation_chance %></li>
        <li>Ricochet Chance: <%= ammo.ricochet_chance %></li>
        <li>Quantity: <%= ammo.quantity %></li>
    </ul>
<% end %>

<% if @ammos.empty? %>
    <p>You currently have no ammo under your account. Add some and you will see them here.</p>
<% end %>