<h1>Sign in</h1>

<%= form_tag login_path do %>

    <%= label_tag :email %>
    <%= email_field_tag :email %>

    <%= label_tag :password %>
    <%= password_field_tag :password %>

    <%= submit_tag "Sign in" %>

<% end %>

<h2>Sample profiles (for debugging)</h2>
<p>kyle@kiss.fm - chicken (set data)</p>
<p>jackio@kiss.fm - chicken (different set data)</p>
<p>test@empty.com - chicken (no data)</p>

<% if flash[:error].present? %>
    <h2><%= flash[:error] %></h2>
<% end %>