<h1><%= @manufacturer.name %></h1>

<div class="listing">
    <%= image_tag @manufacturer.image, :class => 'feature' if @manufacturer.image.present? %>
    
    <ul>
        <li>Founder: <%= @manufacturer.founder %></li>
        <li>Founded: <%= @manufacturer.founded %></li>
        <li>Country: <%= @manufacturer.country %></li>
        <li>Firearms in database: 
            <% firearms = @current_user.firearms.where(:manufacturer_id => @manufacturer.id) %>
            <ul>
                <% firearms.each do |firearm| %>
                    <li><%= link_to firearm.model, firearm %></li>
                <% end %>
            </ul>
        </li>
    </ul>
</div>